<!DOCTYPE html>
<html>
  <head>
    <title>Mobile Page</title>
    <link rel="stylesheet" type="text.css" href="../styles/home.css">
	 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
	 
	 <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>
  </head>
  

  <body>
    <div id="container">
       <div id="map" style="width: 100%; height: 600px;"></div>
		<div id="progress">
        <div id="progress-filled"></div>
      </div>
      <div id="buttons">
        <div class="button"></div>
        <div class="button"></div>
        <div class="button"></div>
        <div class="button"></div>
      </div>
    </div>

    <ul>
      <li class="<%= activePage === 'home' ? 'active' : '' %>"><a href="/home">home</a></li>
      <li class="<%= activePage === 'about' ? 'active' : '' %>"><a href="/map">map</a></li>
      <li class="<%= activePage === 'contact' ? 'active' : '' %>"><a href="/shop">shop</a></li>
      <li class="<%= activePage === 'contact' ? 'active' : '' %>"><a href="/profile">profile</a></li>
    </ul>
    <% if (activePage === 'home') { %>
      <p>home page</p>
    <% } else if (activePage === 'map') { %>
      <p>map page</p>
    <% } else if (activePage === 'shop') { %>
      <p>shop</p>
    <% } else if (activePage === 'profile') { %>
      <p>profile</p>
    <% } %>
	<script>
		var map = L.map('map').setView([51.505, -0.09], 13);

	L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);

	L.marker([51.5, -0.09]).addTo(map)
    .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
    .openPopup();
	</script>
  </body>
</html>
