<!DOCTYPE html>
<html>
  <head>
    <title>Mobile Page</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />

    <!-- <link rel="stylesheet" href="/styles/index.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/home.css" type="text/css" />

    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.min.js"></script>


  </style> -->
  </head>

  <body>
    <div id="top-menu">
      <div id="logo">
        <svg width="45"
          height="27"
          viewBox="0 0 45 27"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.14746 22.3674C-0.510103 20.396 -0.0140907 16.3333 0.44111 14.5483C12.5714 16.785 19.12 13.2372 20.878 11.1837C28.5631 3.18451 32.5877 1.31109 33.6394 1.37427L35.7584 3.26981C40.8818 3.80057 42.8219 6.04994 43.1515 7.10829C42.6178 6.50803 39.1112 7.36418 29.3542 15.5908C19.5972 23.8175 6.48429 23.5363 1.14746 22.3674Z"
            fill="#BD00FF"
          />
          <path
            d="M32.5092 18.055C27.1221 24.3862 21.2234 26.2217 18.9474 26.348C22.9782 28.2436 27.2195 25.5582 28.8362 23.9786C36.7473 27.3906 40.8284 22.1147 41.8801 19.0502C45.4212 16.3964 45.2391 12.7001 44.7054 11.1837C42.8846 10.8362 37.8963 11.7239 32.5092 18.055Z"
            fill="#BD00FF"
          />
          <path
            d="M7.08075 8.7195C6.06361 8.7195 4.14549 10.0464 3.31357 10.7098C6.18605 11.9735 14.9259 11.6007 26.9055 0C24.5699 0.530752 22.7302 1.80077 22.1024 2.36943C12.1947 -3.50675 7.95976 4.1544 7.08075 8.7195Z"
            fill="#BD00FF"
          />
        </svg>
      </div>
      <div id="credits">
        <label for="">1500</label>
        <svg
          width="80"
          height="80"
          viewBox="0 0 80 80"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M80 40C80 62.0914 62.0914 80 40 80C17.9086 80 0 62.0914 0 40C0 17.9086 17.9086 0 40 0C62.0914 0 80 17.9086 80 40Z"
            fill="#BD00FF"
          />
          <path
            d="M71.4289 40C71.4289 57.3575 57.3579 71.4286 40.0003 71.4286C22.6428 71.4286 8.57178 57.3575 8.57178 40C8.57178 22.6425 22.6428 8.57141 40.0003 8.57141C57.3579 8.57141 71.4289 22.6425 71.4289 40Z"
            fill="#DF84FF"
          />
          <path
            d="M40.513 55.9001C35.4122 55.9001 31.3166 54.3549 28.2261 51.2644C25.1356 48.1439 23.5904 44.1383 23.5904 39.2475C23.5904 34.3568 25.1356 30.3661 28.2261 27.2756C31.3166 24.1552 35.4122 22.5949 40.513 22.5949C45.0737 22.5949 48.7793 23.7201 51.6298 25.9704C54.5102 28.1908 56.1605 31.1763 56.5805 34.9268H48.8393C48.4193 33.1266 47.4891 31.7163 46.0489 30.6962C44.6087 29.646 42.7784 29.1209 40.558 29.1209C37.6176 29.1209 35.3222 30.0361 33.6719 31.8664C32.0217 33.6667 31.1965 36.127 31.1965 39.2475C31.1965 42.368 32.0217 44.8434 33.6719 46.6737C35.3222 48.474 37.6176 49.3741 40.558 49.3741C42.7784 49.3741 44.6087 48.864 46.0489 47.8439C47.4891 46.7937 48.4193 45.3685 48.8393 43.5682H56.5805C56.1605 47.3188 54.5102 50.3193 51.6298 52.5696C48.7793 54.79 45.0737 55.9001 40.513 55.9001Z"
            fill="#BD00FF"
          />
        </svg>
      </div>
    </div>

    <div class="ss-block">
      <h1 id="adventures">Adventures near you</h1>
    </div>
    <div id="map">
      <script>
      
        var map = L.map("map").setView([51.505, -0.09], 13);
        L.tileLayer(
          "https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png",
          {
            attribution:
              '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
          }
        ).addTo(map);
        var currentLocationIcon = L.icon({
        
          iconUrl: "icons/current.svg",
          iconSize: [32, 32],
          iconAnchor: [16, 16],
          popupAnchor: [0, -16]
              
        });
    
        L.marker([51.5, -0.09], {icon: currentLocationIcon}).addTo(map);
    
        const userLocation = L.marker([0.0, 0.0], {
          icon: currentLocationIcon,
        }).addTo(map);
        let uLon, uLan;
        // Get the user's location using the Geolocation API
        navigator.geolocation.getCurrentPosition(
          (position) => {
            // Set the marker's position to the user's location
            userLocation.setLatLng([
              position.coords.latitude,
              position.coords.longitude,
            ]);
            // Set the map's view to the user's location
            map.setView([position.coords.latitude, position.coords.longitude], 13);
          },
          (error) => {
            console.error(error);
          }
        );
        // */
        //     const userLocation = L.marker([0.0, 0.0], { icon: currentIcon }).addTo(
        //       map
        //     );
        // // Get the user's location using the Geolocation API
        // navigator.geolocation.getCurrentPosition(
        //   (position) => {
        //     // Set the marker's position to the user's location
        //     userLocation.setLatLng([
        //       position.coords.latitude,
        //       position.coords.longitude,
        //     ]);
        //     // Set the map's view to the user's location
        //     map.setView(
        //       [position.coords.latitude, position.coords.longitude],
        //       13
        //     );
        //   },
        //   (error) => {
        //     console.error(error);
        //   }
        // // );
        // var lat, lng;
        // navigator.geolocation.getCurrentPosition(function (position) {
        //     lat = position.coords.latitude;
        //     lng = position.coords.longitude;
        //   console.log("Latitude: " + lat + " Longitude: " + lng);
        //   //L.marker([lat, lng]).addTo(map);
        // });
    
        // var control = L.Routing.control({
        //   waypoints: [
        //     L.latLng(lat, lng),
        //     L.latLng(52.23163710555889, 21.020493507385257),
        //   ],
        //   lineOptions: {
        //     styles: [{ color: "purple", opacity: 0.7, weight: 8 }],
        //   },
        // }).addTo(map);
      </script>
    </div>
    
    <div id="bottom-menu">
      <div class="bm-item sel">
        <svg
          width="91"
          height="91"
          viewBox="0 0 91 91"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.802 82.2062V36.1763L45.023 3.95532L77.2439 36.1763V82.2062C77.2439 83.427 76.759 84.5978 75.8957 85.461C75.0325 86.3243 73.8617 86.8092 72.6409 86.8092H17.405C16.1842 86.8092 15.0134 86.3243 14.1502 85.461C13.287 84.5978 12.802 83.427 12.802 82.2062Z"
            fill="#DF84FF"
            stroke="#BD00FF"
            stroke-width="4.50071"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M35.8171 60.4331V82.2065V86.8095H54.2291V82.2065V60.4331C54.2291 59.2123 53.7442 58.0415 52.8809 57.1783C52.0177 56.315 50.8469 55.8301 49.6261 55.8301H40.4201C39.1993 55.8301 38.0286 56.315 37.1653 57.1783C36.3021 58.0415 35.8171 59.2123 35.8171 60.4331Z"
            stroke="#BD00FF"
            stroke-width="4.50071"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M3.5957 45.3823L12.8017 36.1763L45.0227 3.95532L77.2436 36.1763L86.4496 45.3823"
            stroke="#BD00FF"
            stroke-width="4.50071"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="bm-item">
        <svg
          width="97"
          height="91"
          viewBox="0 0 97 91"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M32.9001 17.6548L4.729 3.79102V73.1099L32.9001 86.9737L63.2382 73.1099L91.4092 86.9737V17.6548L63.2382 3.79102L32.9001 17.6548Z"
            stroke="#404040"
            stroke-width="4.50071"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M63.2385 3.79102V73.1099"
            stroke="#404040"
            stroke-width="4.50071"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M32.8999 17.6553V86.9742"
            stroke="#404040"
            stroke-width="4.50071"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M18.8147 10.7229L32.9002 17.6548L63.2383 3.79102L77.3239 10.7229"
            stroke="#404040"
            stroke-width="3.37553"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M18.8147 80.0415L32.9002 86.9734L63.2383 73.1096L77.3239 80.0415"
            stroke="#404040"
            stroke-width="3.37553"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="bm-item">
        <svg
          width="91"
          height="91"
          viewBox="0 0 91 91"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.48364 21.0039H85.7464V37.2565L82.9022 38.963C80.6927 40.2879 78.1648 40.9878 75.5885 40.9878C73.0123 40.9878 70.4844 40.2879 68.2749 38.963L65.4307 37.2565L62.5865 38.963C60.377 40.2879 57.8491 40.9878 55.2729 40.9878C52.6966 40.9878 50.1687 40.2879 47.9592 38.963L45.115 37.2565L42.2708 38.963C40.0613 40.2879 37.5335 40.9878 34.9572 40.9878C32.3809 40.9878 29.853 40.2879 27.6435 38.963L24.7993 37.2565L21.9551 38.963C19.7457 40.2879 17.2178 40.9878 14.6415 40.9878C12.0652 40.9878 9.53731 40.2879 7.32784 38.963L4.48364 37.2565V21.0039Z"
            stroke="#404040"
            stroke-width="4.50071"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M12.6099 42.3107V86.0138H77.6201V41.3193"
            stroke="#404040"
            stroke-width="4.50071"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M12.6099 20.6419V4.75098H77.6201V21.0035"
            stroke="#404040"
            stroke-width="4.50071"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M55.2725 61.6355H34.9568V86.0143H55.2725V61.6355Z"
            stroke="#404040"
            stroke-width="4.50071"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="bm-item">
        <div id="user-pic"></div>
      </div>
    </div>

    
  </body>
  
</html>
