<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text.css" href="../styles/home.css">
  </head>
  <body>
    <h1>Login Page</h1>
    <form>
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
      </div>
      <button type="submit" id="loginButton">Log In</button>
    </form>
    <br />
    <button id="signupButton">Sign Up</button>
    <script>
      const form = document.querySelector("form");
      const loginButton = document.querySelector("#loginButton");
      const signupButton = document.querySelector("#signupButton");

      loginButton.addEventListener("click", async (event) => {
        event.preventDefault();

        const username = form.elements.username.value;
        const password = form.elements.password.value;

        const response = await fetch("/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ username, password }),
        });
        console.log(response);
        location.assign(response.url);
      });

      signupButton.addEventListener("click", async (event) => {
        event.preventDefault();

        const username = form.elements.username.value;
        const password = form.elements.password.value;

        const response = await fetch("/signup", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ username, password }),
        });
        console.log(response);
        location.assign(response.url);
      });
    </script>
  </body>
</html>
