<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="/styles/shop.css">
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body>

    <!-- <h1>Im a cute shopping page</h1> -->

    <!-- TOP MENU -------------------------------------------------------------------------------------------->

    <div class="ss-container">
      <h1>Gift cards</h1>
      <div class="ssc-container">

        <div class="ss-block">

          <!-- CARD BLOCKS -->

          <div class="ss-item">
            <div class="ssi-bottom">
              <div class="img-cont">
                <label for="">$10</label>
              </div>
            </div>
            <div class="ssi-top">
              <label for="">Starbucks</label>
              <div class="ssit-right">
                <label for="">1500</label>
                <svg
                  width="80"
                  height="80"
                  viewBox="0 0 80 80"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M80 40C80 62.0914 62.0914 80 40 80C17.9086 80 0 62.0914 0 40C0 17.9086 17.9086 0 40 0C62.0914 0 80 17.9086 80 40Z"
                    fill="#BD00FF"
                  />
                  <path
                    d="M71.4289 40C71.4289 57.3575 57.3579 71.4286 40.0003 71.4286C22.6428 71.4286 8.57178 57.3575 8.57178 40C8.57178 22.6425 22.6428 8.57141 40.0003 8.57141C57.3579 8.57141 71.4289 22.6425 71.4289 40Z"
                    fill="#DF84FF"
                  />
                  <path
                    d="M40.513 55.9001C35.4122 55.9001 31.3166 54.3549 28.2261 51.2644C25.1356 48.1439 23.5904 44.1383 23.5904 39.2475C23.5904 34.3568 25.1356 30.3661 28.2261 27.2756C31.3166 24.1552 35.4122 22.5949 40.513 22.5949C45.0737 22.5949 48.7793 23.7201 51.6298 25.9704C54.5102 28.1908 56.1605 31.1763 56.5805 34.9268H48.8393C48.4193 33.1266 47.4891 31.7163 46.0489 30.6962C44.6087 29.646 42.7784 29.1209 40.558 29.1209C37.6176 29.1209 35.3222 30.0361 33.6719 31.8664C32.0217 33.6667 31.1965 36.127 31.1965 39.2475C31.1965 42.368 32.0217 44.8434 33.6719 46.6737C35.3222 48.474 37.6176 49.3741 40.558 49.3741C42.7784 49.3741 44.6087 48.864 46.0489 47.8439C47.4891 46.7937 48.4193 45.3685 48.8393 43.5682H56.5805C56.1605 47.3188 54.5102 50.3193 51.6298 52.5696C48.7793 54.79 45.0737 55.9001 40.513 55.9001Z"
                    fill="#BD00FF"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="ss-item">
            <div class="ssi-bottom">
              <div class="img-cont">
                <label for="">$10</label>
              </div>
            </div>
            <div class="ssi-top">
              <label for="">Starbucks</label>
              <div class="ssit-right">
                <label for="">1500</label>
                <svg
                  width="80"
                  height="80"
                  viewBox="0 0 80 80"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M80 40C80 62.0914 62.0914 80 40 80C17.9086 80 0 62.0914 0 40C0 17.9086 17.9086 0 40 0C62.0914 0 80 17.9086 80 40Z"
                    fill="#BD00FF"
                  />
                  <path
                    d="M71.4289 40C71.4289 57.3575 57.3579 71.4286 40.0003 71.4286C22.6428 71.4286 8.57178 57.3575 8.57178 40C8.57178 22.6425 22.6428 8.57141 40.0003 8.57141C57.3579 8.57141 71.4289 22.6425 71.4289 40Z"
                    fill="#DF84FF"
                  />
                  <path
                    d="M40.513 55.9001C35.4122 55.9001 31.3166 54.3549 28.2261 51.2644C25.1356 48.1439 23.5904 44.1383 23.5904 39.2475C23.5904 34.3568 25.1356 30.3661 28.2261 27.2756C31.3166 24.1552 35.4122 22.5949 40.513 22.5949C45.0737 22.5949 48.7793 23.7201 51.6298 25.9704C54.5102 28.1908 56.1605 31.1763 56.5805 34.9268H48.8393C48.4193 33.1266 47.4891 31.7163 46.0489 30.6962C44.6087 29.646 42.7784 29.1209 40.558 29.1209C37.6176 29.1209 35.3222 30.0361 33.6719 31.8664C32.0217 33.6667 31.1965 36.127 31.1965 39.2475C31.1965 42.368 32.0217 44.8434 33.6719 46.6737C35.3222 48.474 37.6176 49.3741 40.558 49.3741C42.7784 49.3741 44.6087 48.864 46.0489 47.8439C47.4891 46.7937 48.4193 45.3685 48.8393 43.5682H56.5805C56.1605 47.3188 54.5102 50.3193 51.6298 52.5696C48.7793 54.79 45.0737 55.9001 40.513 55.9001Z"
                    fill="#BD00FF"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="ss-item">
            <div class="ssi-bottom">
              <div class="img-cont">
                <label for="">$10</label>
              </div>
            </div>
            <div class="ssi-top">
              <label for="">Starbucks</label>
              <div class="ssit-right">
                <label for="">1500</label>
                <svg
                  width="80"
                  height="80"
                  viewBox="0 0 80 80"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M80 40C80 62.0914 62.0914 80 40 80C17.9086 80 0 62.0914 0 40C0 17.9086 17.9086 0 40 0C62.0914 0 80 17.9086 80 40Z"
                    fill="#BD00FF"
                  />
                  <path
                    d="M71.4289 40C71.4289 57.3575 57.3579 71.4286 40.0003 71.4286C22.6428 71.4286 8.57178 57.3575 8.57178 40C8.57178 22.6425 22.6428 8.57141 40.0003 8.57141C57.3579 8.57141 71.4289 22.6425 71.4289 40Z"
                    fill="#DF84FF"
                  />
                  <path
                    d="M40.513 55.9001C35.4122 55.9001 31.3166 54.3549 28.2261 51.2644C25.1356 48.1439 23.5904 44.1383 23.5904 39.2475C23.5904 34.3568 25.1356 30.3661 28.2261 27.2756C31.3166 24.1552 35.4122 22.5949 40.513 22.5949C45.0737 22.5949 48.7793 23.7201 51.6298 25.9704C54.5102 28.1908 56.1605 31.1763 56.5805 34.9268H48.8393C48.4193 33.1266 47.4891 31.7163 46.0489 30.6962C44.6087 29.646 42.7784 29.1209 40.558 29.1209C37.6176 29.1209 35.3222 30.0361 33.6719 31.8664C32.0217 33.6667 31.1965 36.127 31.1965 39.2475C31.1965 42.368 32.0217 44.8434 33.6719 46.6737C35.3222 48.474 37.6176 49.3741 40.558 49.3741C42.7784 49.3741 44.6087 48.864 46.0489 47.8439C47.4891 46.7937 48.4193 45.3685 48.8393 43.5682H56.5805C56.1605 47.3188 54.5102 50.3193 51.6298 52.5696C48.7793 54.79 45.0737 55.9001 40.513 55.9001Z"
                    fill="#BD00FF"
                  />
                </svg>
              </div>
            </div>
          </div>

          <!-- CARD BLOCKS -->

        </div>
      </body>
        
    </div>
    
    

  </body>
</html>
