body {
    padding-top: calc(100vh / 9);
}

#bottom-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    bottom: 0px;
    left: 0px;

    width: 100%;
    height: calc(100vh / 9);

    border-top: calc(100vh / 852) solid #202020;
}


#bottom-menu .bm-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border-right: calc(100vh / 852) solid #202020;
    padding: calc(100vh / 34) 0px;
}
#bottom-menu .bm-item:last-of-type {
    border-right: none;
}
#bottom-menu .bm-item.sel {
    background-color: white;
}

#user-pic {
    aspect-ratio: 1 / 1;

    width: auto;
    height: 100%;

    border-radius: 50%;
    background-color: #404040;
}
#bottom-menu .bm-item svg {
    width: auto;
    height: 80%;
}

#top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: calc(100vh / 9);

    border-bottom: calc(100vh / 852) solid #202020;
}

#top-menu #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: calc(100vw / 4);
    height: 100%;

    padding: 0px calc(100vw / 14);
}
#top-menu #logo svg {
    width: 100%;
    height: auto;
}

#top-menu #credits {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: 100%;

    padding-right: calc(100vw / 10);
}
#top-menu #credits label {
    display: block;
    margin-right: calc(100vw / 19);

    font-size: calc(100vw / 19);
    font-weight: 700;
}
#top-menu #credits svg {
    aspect-ratio: 1 / 1;
    max-width: calc(100vw / 14);
    height: auto;
}


h1 {
    font-size: calc(100vw / 19);
    font-weight: 700;

    margin-top: calc(100vh / 16);
    margin-bottom: calc(100vh / 21);
    margin-left: calc(100vh / 23);
}


.ss-container {
    width: 100%;
    height: fit-content;

    /* background-color: red; */
}
.ssc-container {
    display: flex;

    width: 100%;
    height: fit-content;

    /* background-color: blue; */

    overflow-y: hidden;
    overflow-x: scroll;

    padding-right: calc(100vh / 23);    
}
.ssc-container::-webkit-scrollbar {
    display: none;
}

.ss-block {
    min-width: fit-content;
    height: fit-content;

    /* background-color: #202020; */
    padding-left: calc(100vh / 23);
}

.ss-item {
    min-width: calc(100vw / 1.7);
    height: fit-content;

    background-color: #202020;
    border-radius: calc(100vw / 20);
}

.ss-item .ssi-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: fit-content;

    padding: calc(100vh / 56) calc(100vw / 23);

    background-color: transparent;
    border-bottom: calc(100vh / 852) solid #303030;
}
.ss-item .ssi-top label {
    display: block;
    max-width: 60%;
    font-size: calc(100vw / 23);
    font-weight: 700;
    background-color: transparent;
}

.ss-item .ssi-top .ssit-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: fit-content;
    height: 100%;
}
.ss-item .ssi-top .ssit-right label {
    font-size: calc(100vw / 25);
    margin-right: calc((100vw / 84) * 2);
}
.ss-item .ssi-top .ssit-right svg {
    aspect-ratio: 1 / 1;
    width: calc(100vw / 25);
    height: auto;
}

.ssi-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: fit-content;

    padding: calc(100vw / 19);
}

.ssib-cont {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    width: 100%;
    height: fit-content;
}
.ssib-cont.right {
    align-items: flex-end;
}


.ssib-cont .ssib-item {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: calc((100vw / 84) * 2);
}
.ssib-cont .ssib-item:last-of-type {
    margin-bottom: 0px;
}

.ssib-cont svg {
    width: calc(100vw / 28);
    height: auto;

    margin-right: calc((100vw / 84) * 2);
}
.ssib-cont label {
    font-size: calc(100vw / 28);
}


