body {
    height: 100%;
}
html{
  height: 100%;
  width: 100%;
}

#bottom-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 8.5vh;
}

#bottom-menu .bm-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1vh;
}
#bottom-menu .bm-item:last-of-type {
    border-right: none;
}
#bottom-menu .bm-item.sel {
    background-color: white;
}

#user-pic {
    aspect-ratio: 1 / 1;
    width: auto;
    height: 90%;
    border-radius: 50%;
    background-color: #404040;
}
#bottom-menu{
  background-color: black;
}

#bottom-menu .bm-item svg {
    width: auto;
    height: 80%;
}

#adventures {
    position: relative;
    bottom: 20%;
}

#top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #202020;
    box-sizing: border-box;
    color: white;
    background-color: black;
    font-family: GT;
    overflow-x: hidden;
}

#top-menu #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.5vw;
    height: 11vh;
    padding: 5%;
}
#top-menu #logo svg {
    width: 100%;
    height: 100%;
}

#top-menu #credits {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    padding-right: 5vw;
}
#top-menu #credits label {
    display: block;
    margin-right: calc(100vw / 19);
    font-size: calc(100vw / 19);
    font-weight: 700;
}

h1 {
    font-size: calc(100vw / 19);
    font-weight: 700;
    margin-top: calc(100vh / 16);
    margin-bottom: calc(100vh / 21);
    margin-left: calc(100vh / 23);
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }

  #image {
    width: 60%;
    max-width: 400px;
    margin-bottom: 20px;
  }
    #map {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    bottom: 0px;
    left: 0px;

    width: 100%;
    height: calc(100% - (2 * (100vh / 9)));

    /* border-top: calc(100vh / 852) solid #202020; */
  } 

  #progress {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    margin-bottom: 20px;
  }

  #progress-filled {
    height: 100%;
    background-color: #4caf50;
  }

  #buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
  }

  .button {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);    
}

  
