body {
    padding-top: calc(100vh / 9) !important;
}

/* #bottom-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    z-index: 100;
    position: fixed;
    bottom: 0px;
    left: 0px;

    width: 100%;
    height: calc(100vh / 9);

    border-top: calc(100vh / 852) solid #202020;
    background-color: black;
}
#bottom-menu .bm-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border-right: calc(100vh / 852) solid #202020;
    padding: calc(100vh / 34) 0px;
}
#bottom-menu .bm-item:last-of-type {
    border-right: none;
}
#bottom-menu .bm-item.sel {
    background-color: white;
}

#user-pic {
    aspect-ratio: 1 / 1;

    width: auto;
    height: 100%;

    border-radius: 50%;
    background-color: #404040;
}
#bottom-menu .bm-item svg {
    width: auto;
    height: 80%;
}

#top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: calc(100vh / 9);

    border-bottom: calc(100vh / 852) solid #202020;
}

#top-menu #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: calc(100vw / 4);
    height: 100%;

    padding: 0px calc(100vw / 14);
}
#top-menu #logo svg {
    width: 100%;
    height: auto;
}

#top-menu #credits {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: 100%;

    padding-right: calc(100vw / 10);
}
#top-menu #credits label {
    display: block;
    margin-right: calc(100vw / 19);

    font-size: calc(100vw / 19);
    font-weight: 700;
} */
#top-menu #credits svg {
    max-width: 25px;
    height: auto;
}


h1 {
    font-size: calc(100vw / 19);
    font-weight: 700;

    margin-top: calc(100vh / 16);
    margin-bottom: calc(100vh / 21);
    margin-left: calc(100vh / 23);
}


.ss-container {
    width: 100%;
    height: fit-content;

    /* background-color: red; */
}
.ssc-container {
    display: flex;

    width: 100%;
    height: fit-content;

    /* background-color: blue; */

    overflow-y: hidden;
    overflow-x: scroll;

    /* padding-right: calc(100vh / 23);     */
}
.ssc-container::-webkit-scrollbar {
    display: none;
}

.ss-block {
    display: flex;

    min-width: fit-content;
    height: fit-content;

    /* background-color: #202020; */
    padding-left: calc(100vh / 23);
}

.ss-item {
    min-width: calc(100vw / 1.5);
    height: fit-content;

    background-color: #202020;
    border-radius: calc(100vw / 20);
    margin-right: calc(100vh / 23);
}

.ss-item .ssi-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: fit-content;

    padding: calc(100vh / 56) calc(100vw / 23);

    background-color: transparent;
    border-top: calc(100vh / 852) solid #303030;
}
.ss-item .ssi-top label {
    display: block;
    max-width: 60%;
    font-size: calc(100vw / 23);
    font-weight: 700;
    background-color: transparent;
}

.ss-item .ssi-top .ssit-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: fit-content;
    height: 100%;
}
.ss-item .ssi-top .ssit-right label {
    font-size: calc(100vw / 25);
    margin-right: calc((100vw / 84) * 2);
}
.ss-item .ssi-top .ssit-right svg {
    aspect-ratio: 1 / 1;
    width: calc(100vw / 25);
    height: auto;
}

.ssi-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: fit-content;

    padding: calc(100vw / 19);
}

.img-cont {
    position: relative;

    width: 100%;
    height: calc(100vw / 3);
    background-color: #101010;
    border-radius: calc(100vw / 20);

    background-image: url(/icons/starbucks.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}
.img-cont label {
    display: block;

    position: absolute;
    bottom: calc((100vw / 84) * 2);
    right: calc((100vw / 84) * 2);

    font-size: calc(100vw / 10);
    font-weight: 700;
}

